@model List<imageFilter.Models.myFile>

@{
    Layout = null;
    var IsAnyImage = Model.Any(x => new String[]
    { "jpg","jpeg","png","gif" }.Contains(x.FileName.Split('.').Last()));
}

@if (Model.Any())
{
    string guid_ = Model?.FirstOrDefault()?.GuidID.ToString();

    <div class="container">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="@Url.Content("~/Stitch/ViewResult?guid_=" + guid_)"><input type="button" value="Proceed" id="proceed" class="btn btn-danger" /></a>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">

            <h3> Uploads </h3>
            <div class="viewResult">
                <table class="resultTable">
                    <tr>
                        <th> Thumbnail </th>
                        <th> FileName </th>
                        <th> Action </th>
                    </tr>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>
                                    <img width="60" src="@Url.Content(Model[i].FilePath)" />
                                </td>
                                <td>
                                    <a href="@Url.Content("~/UploadedFiles/" + Model[i].FileName)" target="_blank"> @Model[i].FileName </a>
                                </td>
                                <td>
                                    <img id="@Model[i].FileID" class="delUpload" width="20" src="@Url.Content("~/Content/imagesNew/password-success.png")" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>

}
else
{
    <h3> No Uploads Found! </h3>
}